    /* element followed property change

    */

    body{
       
        background-color: peachpuff;
        color:black;
        border: 1px solid black;
        
    }
   
   
    a{
        color: black;
        text-decoration: underline
    
        
    }

    header{
        background-color:#fa683f;
        width: 50%;
        margin: auto; 
        color:black;
    }
    
      
main{  
    color: darkgoldenrod;
    width:50% ;
    border: 1px solid black;
    margin: auto;
    padding: 50px;
   

}
    p{  
        color: black; 
        margin-left: 10px;

    } 
        
.FirstParagraph{

    background-color: lightsalmon;
    color: black;
    font-style: normal;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: 10px;
}

    img{
        width: 100%;
        border-radius: 50px;
        margin-bottom: 50px;
    }